{% extends "quorapp/base.html" %}
{% block content %}
<div class="col-lg-12" style="padding-bot:30px;"><h3 class="bluetext"><b>Your Profile</b></h3>
  <div class="col-lg-6">
    <table>
      <tr><td colspan="15"> <img src="{{profile.profileimage}}" class="img-circle" /> </td></tr>
  <tr><td colspan="15">  <h5 class="bluetext">"{{profile.about}}" </h5></td></tr>
  <tr><td colspan="15">  <h5 class=""><a href="{{profile.website}}" class="custom" target="_blank">{{profile.website}} </a> </h5></td></tr>
    <tr> <td colspan="5"><h5>First Name: </h5></td><td colspan="10">{{profile.first_name}}</td></tr>
    <tr><td colspan="5"><h5>Last Name:</h5></td><td colspan="10">{{profile.last_name}}</td></tr>
    <tr><td colspan="5"><h5>Age:</h5></td><td colspan="10">{{profile.age}}</td></tr>
    <tr><td colspan="5"><h5>Sex:</h5></td><td colspan="10">{{profile.sex}}</td></tr>
      {% if profile.user == request.user %}
    <tr><td colspan="15"><a href="{% url 'edit_profile' %}" role="button" class="btn btn-default">Edit </a> </td></tr>
  {% endif %}
    </table>
  </div>
  <div class="col-lg-6">

  </div>

 </div>
{% endblock content %}
