{% extends "quorapp/base.html" %}
{% block content %}
<div class="col-lg-12">
   <div class="col-lg-6">
  <h3 class="bluetext">
    {% if profile.sex == 'M' %}
      <span class="fa fa-male"></span>
    {% elif profile.sex == 'F' %}
    <span class="fa fa-female" style="color:pink"></span>
    {% endif %}
    <b>{{profile.user.username}}'s profile:</b></h3>
    <table>
      <tr><td colspan="15">
          {% if profile.profileimage %}
          <img src="{{profile.profileimage}}" class="img-circle" />
          {% else %}
          <img src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-circle" />
          {% endif%}
        </td></tr>
  <tr><td colspan="15">  <h5 class="bluetext">"{{profile.about}}" </h5></td></tr>
  <tr><td colspan="15">  <h5 class=""><a href="{{profile.website}}" class="custom" target="_blank">{{profile.website}} </a> </h5></td></tr>
  <tr> <td colspan="5">
      {% if profile.first_name and profile.last_name %}
       <h5>{{profile.first_name}}&nbsp;{{profile.last_name}} </h5>
      {% else %}
      <h5>Need to update</h5>
      {% endif %}
    </td></tr>
    <tr><td colspan="5">
      {% if profile.age %}
      <h5>{{profile.age}} years of life experience !! </h5>
      {% else %}
      <h5>Need to update</h5>
      {% endif %}

      </td></tr>
      {% if profile.user == request.user %}
    <tr><td colspan="15"><a href="{% url 'quorapp:edit_profile' %}" role="button" class="btn btn-default">Edit </a> </td></tr>
  {% endif %}
    </table>
  </div>
  <div class="col-lg-6">
  <h3 class="bluetext">Following:</h3>
  {% for follow in following %}
  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
   {{follow.follow}}
  <span class="fa fa-angle-double-down" style="color:black"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'quorapp:view_profile' %}?u={{follow.follow.id}}">View Profile</a></li>
    {% if remove == 1 %}
    <!--   <li><a href="{% url 'quorapp:remove' %}?r={{follower.user.id}}">Remove</a></li> -->
    {% endif %}
  </ul>

  </div>
  {% endfor %}
  <h3 class="bluetext">Followers:</h3>
  {% for follower in followers %}
  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
   {{follower.user}}
  <span class="fa fa-angle-double-down" style="color:black"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'quorapp:view_profile' %}?u={{follower.user.id}}">View Profile</a></li>
    {% if remove == 1 %}
    <!--  <li><a href="{% url 'quorapp:remove' %}?r={{follower.user.id}}">Remove</a></li> -->
    {% endif %}
  </ul>

  </div>
  {% endfor %}
  <h3 class="bluetext">Topics:</h3>
  {% for topic in topics_following %}
  <div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
   {{topic.topic.name}}
  <span class="fa fa-angle-double-down" style="color:black"></span></button>
  <ul class="dropdown-menu">
    {% if remove == 1 %}
    <!-- <li><a href="{% url 'quorapp:remove' %}?t={{topic.id}}">Remove</a></li> -->
    {% endif %}
  </ul>
  </div>
  {% endfor %}
 </div>
</div>
{% endblock content %}
